:root {
  --color-accent: oklch(61.081% 0.13651 258.338);
  
}

img {
  max-width: 100%;
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  accent-color: var(--color-accent);
  max-width: 100ch;
  margin-inline: auto;
  padding-inline: 1rem;
}

input,
textarea,
button,
select {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}

nav ul,
nav li {
  display: contents;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 4ch;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);

}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;

}
nav a.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: oklch(66.771% 0.0083 207.595);
}

nav a:hover {
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);

}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article{
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;

}

.projects article h2{
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 300%;
}

.linkedin {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  font-size: 75%;
  color: #0A66C2;

}

.resume h1  {
  text-align: center;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;

}

.resume section {
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
}




.resume .skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0;
}
.resume .skills li {
  background: oklch(82.06% 0.093 250.927);
  padding: 0.2em 0.8em;
  border-radius: 999px;
}

.resume article h3 , article p {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


.resume .details {
  font-size: 75%;
  font-weight: normal;
  color: oklch(50% 0% 0);
}

.color-scheme {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 80%;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#profile-stats dt {
  grid-row: 1;
}

#profile-stats dd {
  grid-row: 2;
  font-size : 200%;
}
